/* form */
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
.form-title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--color-text);
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-silver);
}
.form-lable {
  margin-right: auto;
  margin-bottom: 4px;
}
.form-field__name {
  margin-right: auto;
  font-size: 14px;
}
.form-field__input {
  width: 100%;
  margin: 0;
  font: inherit;
  padding: 12px 20px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-field__input:focus + .form-field__icon {
  fill: var(--color-blu-);
  transition: var(--time-delay);
}
.form-field__input:focus {
  border: 1px solid var(--color-blu-);
  border-radius: 4px;
  transition: var(--time-delay);
}
.form-field__textarea {
  resize: none;

  padding: 16px 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-field__textarea:focus,
.form-field__textarea:hover {
  border: 1px solid var(--color-blu-);
  border-radius: 4px;
  transition: var(--time-delay);
}
.form-field__icon {
  position: absolute;
  left: 15px;
  bottom: 11px;
}
.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 13px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-checkbox__input {
  appearance: none;
}
.form-checkbox__privacy {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-form-border);
  border-radius: 2px;
}
.form-checkbox__icon {
  fill: var(--color-white);
}
.form-checkbox__text {
  font-size: 14px;
  line-height: 0.17;
  letter-spacing: 0.03em;
  color: var(--color-silver);
}
.form-checkbox__link {
  color: var(--color-blu-);
}
.form-checkbox__input:checked + .form-checkbox__privacy {
  border-color: var(--color-blu-);
  background-color: var(--color-blu-);
  fill: var(--color-white);
  transition: var(--time-delay);
}
.modal-form__btn {
  height: 50px;
  width: 200px;
  padding: 10px 32px;
  margin-bottom: 40px;
  display: inline-block;
  border-radius: 4px;
  border-color: transparent;

  background-color: var(--color-blu-);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.modal-form__btn:hover,
.modal-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--time-delay);
}
