/* studio-team */
.studio-team {
  display: flex;
  background-color: #f5f4fa;
}
.studio-title {
  margin-top: 94px;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.studio-team__item {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  margin-bottom: 94px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}
.studio-team__item:last-child {
  margin-right: 0px;
}
.studio-team__worker {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.studio-team__text {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-silver);
}
.social-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-link__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-blu-);
  transition: var(--time-delay);
}
.social-link:hover .social-link__icon,
.social-link:focus .social-link__icon {
  fill: #ffffff;
  transition: var(--time-delay);
}
